<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>in_buit_filters</h1>
        <h2>{{var}} </h2>
        <h2>{{var|lower}} </h2>
        <h2>{{var|upper}} </h2>
        <h2>{{var|capfirst}} </h2>
        <h2>{{var|slice:'5'}} </h2>
        <h2>{{var|title}} </h2>
        <h2>{{var|length}} </h2>
        <h2>{{var|truncatewords:'5'}} </h2>
        <h2>{{var|truncatechars:'9'}} </h2>
        <hr>
        <h1>This are the plurals</h1>
        <h2>I have a {{c}} cat{{c|pluralize}}</h2>
        <h2>I have a {{c}} mango{{c|pluralize:'es'}}</h2>
        <h2>This {{c}} pen{{c|pluralize}} {{c|pluralize:'is,are'}} mine </h2>
        <hr>
        <h1>This are the date formats</h1>
        <h2><span>This is the default date :</span>{{dt}}</h2>

        <h2>{{dt|date:'d j s'}}</h2>
        <h2>{{dt|date:'m n b M F'}}</h2>
        <h2>{{dt|date:'y Y'}}</h2>
        <h2>{{dt|date:'D I'}}</h2>
        <h2>{{dt|date:'G H g h a A'}}</h2>
        <h2>{{dt|date:'i'}}</h2>
        <h2>{{dt|date:'S'}}</h2>
        <h2>{{dt|date:'d-M-Y D H:i:s A'}}</h2>


        
    </center>
    
</body>
</html>